<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <div id="page">

    <ul>
      <li><a href="/stark">House Stark</a></li>
      <li><a href="/lannister">House Lannister</a> </li>
      <li><a href="/targaryen">House Targaryen</a> </li>
      <li><a href="/tyrell">House Tyrell</a> </li>
    </ul>

  </div>
  </body>
</html>
