<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="/stylesheets/stark.css"/>
</head>
<body>

<div>
    <img src="/images/housestark.jpg"/>
</div>


</body>
